---
layout: page
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>What?</h2>
          <p>
            Vienna is an RSS/Atom reader for Mac OS X, packed with powerful features that help you make sense of the flood of information that is distributed via these formats today. The Vienna Project is continuously being improved and updated, so keep up to date with current development on the forums.
          </p>
          <p>
            Vienna is an OS X-native Objective-C/Cocoa Open Source project published under the Apache License, Version 2.0. It was started by Steve Palmer (aka stevewpalmer, stevepa) and is currently in active development by Jeff Johnson (aka johnson1234 and jeff_johnson_dev) and Michael Ströck (aka mstroeck). Many others have contributed immensely to this project, for details please download the application and load its “Acknowledgements”.
          </p>
          <p>
            Companies which have supported the project include GitHub, SourceForge (who provide all our web-hosting) and Senza Limiti.
          </p>
          <h2>
            Where?
          </h2>
          <p>
            The project’s Git repository is hosted by GitHub. The easiest way to contact the developers is via the Vienna forums at Cocoaforge. For more on how to contribute to the project read this: Vienna Development.
          </p>
          <h2>
            Who uses Vienna?
          </h2>
          <p>
            Actual users are always hard to track, but to date Vienna has been downloaded over 450.000 times from Sourceforge’s servers alone. If you are responsible for one of those downloads: Thank you!
          </p>

        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
