
		<footer id="footer">
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						Copyrights &copy; 2019 All Rights Reserved by The ViennaRSS project.<br>
					</div>

					<div class="col_half col_last tright">
						<div class="fright clearfix">


							<a href="https://twitter.com/viennarss" class="social-icon si-small si-light si-rounded si-twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>


							<a href="https://github.com/ViennaRSS/vienna-rss" class="social-icon si-small si-light si-rounded si-github">
								<i class="icon-github"></i>
								<i class="icon-github"></i>
							</a>
						</div>

						<div class="clear"></div>

					</div>

				</div>

			</div>
		</footer>

  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/plugins.js"></script>
  <script type="text/javascript" src="/js/functions.js"></script>

