<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      </a>

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>

 <header id="header" class="sticky-style-2">

			<div class="container clearfix">

				<!-- Logo
				============================================= -->
				<div id="logo" class="divcenter">
					<a href="{{ site.baseurl }}/" class="standard-logo"><img class="divcenter" src="demos/agency/images/logo-agency.png" alt="Canvas Logo"></a>
					<a href="{{ site.baseurl }}/" class="retina-logo"><img class="divcenter" src="demos/agency/images/logo-agency@2x.png" alt="Canvas Logo"></a>
				</div><!-- #logo end -->

			</div>

			<div id="header-wrap">

				<!-- Primary Navigation
				============================================= -->
				<nav id="primary-menu" class="style-2 center">

					<div class="container clearfix">

						<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

						<ul>
							<li class="current"><a href="{{ site.baseurl }}/"><div>{{ page.title }}</div></a></li>
							<li><a href="{{ page.url | prepend: site.baseurl }}"><div>About</div></a></li>
							<li class="mega-menu"><a href="#"><div>Development</div></a></li>
							<li class="mega-menu"><a href="#"><div>Blog</div></a></li>
							<li class="mega-menu"><a href="#"><div>Extras</div></a></li>
							<li><a href="shop.html"><div>Forum</div></a></li>
						</ul>

					</div>

				</nav><!-- #primary-menu end -->

			</div>

		</header><!-- #header end -->
