 <header id="header" class="sticky-style-2">

			<div class="container clearfix">

				<!-- Logo
				============================================= -->
				<div id="logo" class="divcenter">
					<a href="{{ site.baseurl }}/" class="standard-logo"><img class="divcenter" src="{{ site.baseurl }}/images/vienna_logo.png" alt="ViennaRSS Logo"></a>

				</div><!-- #logo end -->

			</div>

			<div id="header-wrap">

				<!-- Primary Navigation
				============================================= -->
				<nav id="primary-menu" class="style-2 center">

					<div class="container clearfix">

						<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

						<ul class="current sub-menu">
						<!--  <li class="current"><a href="{{ site.baseurl }}/"><div>{{ page.title }}</div></a></li> -->
						<li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
						<li><a href="{{ site.app_github_url }}/releases/latest">Download</a></li>
						<li><a href="{{ '/development' | prepend: site.baseurl }}">Development</a>
							<ul style="display: none">
								<li><a href="{{ site.app_github_url }}">Browse Source</a></li>
								<li><a href="{{ '/development/creating-plugins-for-vienna-2-5' | prepend: site.baseurl }}">Creating Plugins</a></li>
							</ul>
						</li>
						<li><a href="{{ '/faq' | prepend: site.baseurl }}">FAQ</a></li>
						<li><a href="{{ '/support' | prepend: site.baseurl }}">Get Support</a></li>
						<li><a href="{{ '/extras/' | prepend: site.baseurl }}">Extras</a>
							<ul style="display: none">
								<li><a href="{{ '/extras/creating-custom-styles' | prepend: site.baseurl }}">Custom Styles</a></li>
							</ul>
						</li>
						<li><a href="{{ '/blog' | prepend: site.baseurl }}">Blog</a></li>
						</ul>
					</div>

				</nav><!-- #primary-menu end -->

			</div>

		</header><!-- #header end -->
