<header class="site-header">

</header>



 <header id="header" class="sticky-style-2">

			<div class="container clearfix">

				<!-- Logo
				============================================= -->
				<div id="logo" class="divcenter">
					<a href="{{ site.baseurl }}/" class="standard-logo"><img class="divcenter" src="../images/vienna_logo.png" alt=""></a>

				</div><!-- #logo end -->

			</div>

			<div id="header-wrap">

				<!-- Primary Navigation
				============================================= -->
				<nav id="primary-menu" class="style-2 center">

					<div class="container clearfix">

						<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

						<ul class="current sub-menu">
						 <!--  <li class="current"><a href="{{ site.baseurl }}/"><div>{{ page.title }}</div></a></li> -->
						  <li><a href="about">About</a>
							<ul style="display: none">
								<li><a href="faq">FAQ</a></li>
							</ul>
						</li>
						  <li><a href="development">Development</a>
							<ul style="display: none">
								<li><a href="https://github.com/ViennaRSS/vienna-rss">Browse Source</a></li>
								<li><a href="development/creating-plugins-for-vienna-2-5">Creating Plugins</a></li>
							</ul>
						  </li>
						  <li><a href="blog"><div>Blog</div></a></li>
						  <li><a href="extras"><div>Extras</div></a>
							<ul style="display: none">
								<li><a href="extras/creating-custom-styles">Custom Styles</a></li>
							</ul>
						</li>
						  <li><a href="https://forums.cocoaforge.com/viewforum.php?f=18"><div>Forum</div></a></li>
						</ul>

					</div>

				</nav><!-- #primary-menu end -->

			</div>

		</header><!-- #header end -->
